name: E2E

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test-e2e:
    name: ${{ matrix.target_features }} with Nodejs v${{ matrix.node_version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version:
          # - 10
          - 12
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        target_features:
          - webpack
          - requirejs,babel
          - requirejs,typescript
          - systemjs
          - alameda
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}
      - run: npm install
      - run: xvfb-run -a -s '-screen 0 1024x768x24' npm run test:e2e
        if: runner.os == 'Linux'
        env:
          TARGET_FEATURES: ${{ matrix.target_features }}
          TARGET_CLI: aurelia/cli#rm-skeleton
      - run: npm run test:e2e
        if: runner.os != 'Linux'
        env:
          TARGET_FEATURES: ${{ matrix.target_features }}
          TARGET_CLI: aurelia/cli#rm-skeleton

